USE [master]
GO
/****** Object:  Database [Agrilink]    Script Date: 3/16/2019 9:48:27 AM ******/
CREATE DATABASE [Agrilink] ON  PRIMARY 
( NAME = N'Agrilink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Agrilink.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Agrilink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Agrilink_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Agrilink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Agrilink]
GO
/****** Object:  User [kiennv]    Script Date: 3/16/2019 9:48:27 AM ******/
CREATE USER [kiennv] FOR LOGIN [kiennv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [canquy]    Script Date: 3/16/2019 9:48:27 AM ******/
CREATE USER [canquy] FOR LOGIN [canquy] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [kiennv]
GO
ALTER ROLE [db_owner] ADD MEMBER [canquy]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](10) NULL,
	[fullname] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[idG] [int] NULL,
	[show] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Activities]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](max) NULL,
	[name] [nvarchar](100) NULL,
	[boderstype] [nvarchar](10) NULL,
	[bodercolor] [nvarchar](10) NULL,
	[location] [int] NULL,
	[show] [bit] NULL,
	[created] [datetime] NULL,
	[description] [nvarchar](500) NULL,
	[viewed] [int] NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AImage]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idA] [int] NULL,
	[image] [nvarchar](100) NULL,
	[location] [int] NULL,
	[show] [bit] NULL,
 CONSTRAINT [PK_AImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](200) NULL,
	[avatar] [nvarchar](max) NULL,
	[comment] [nvarchar](1000) NULL,
	[image] [nvarchar](max) NULL,
	[show] [bit] NULL,
	[location] [int] NULL,
	[created] [datetime] NULL,
	[rate] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](20) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[fullname] [nvarchar](100) NULL,
	[phone] [nvarchar](10) NULL,
	[address] [nvarchar](100) NULL,
	[nofm] [int] NULL,
	[idPK] [int] NULL,
	[active] [bit] NULL,
	[created] [datetime] NULL,
	[updated] [datetime] NULL,
	[del] [bit] NULL,
	[registerfrom] [nvarchar](50) NULL,
	[note] [nvarchar](500) NULL,
	[enable] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerRequest]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idC] [int] NULL,
	[idPK] [int] NULL,
	[note] [nvarchar](500) NULL,
	[created] [datetime] NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_CustomerRequest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Garden]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garden](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idP] [int] NULL,
	[code] [nvarchar](10) NULL,
	[acreage] [int] NULL,
	[active] [bit] NULL,
	[num] [int] NULL,
	[prefix] [nvarchar](1) NULL,
	[note] [nvarchar](500) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Garden] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GHistory]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [int] NULL,
	[idG] [int] NULL,
	[image] [nvarchar](100) NULL,
	[startdate] [datetime] NULL,
	[enddate] [datetime] NULL,
 CONSTRAINT [PK_GHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GImage]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GImage](
	[id] [int] NOT NULL,
	[idS] [int] NULL,
	[image] [nvarchar](100) NULL,
 CONSTRAINT [PK_GImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRole]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [PK_GRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GSchedule]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GSchedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idH] [int] NULL,
	[datenow] [datetime] NULL,
	[stylecolor] [nvarchar](10) NULL,
	[description] [nvarchar](500) NULL,
	[show] [bit] NULL,
 CONSTRAINT [PK_GSchedule] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GVegetables]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVegetables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[show] [bit] NULL,
 CONSTRAINT [PK_GVegetables] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GVOrder]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idH] [int] NULL,
	[idV] [int] NULL,
 CONSTRAINT [PK_GVOrder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IVtable]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVtable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idV] [int] NULL,
	[idG] [int] NULL,
 CONSTRAINT [PK_IVtable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[url] [nvarchar](100) NULL,
	[show] [bit] NULL,
	[location] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[shortdescription] [nvarchar](500) NULL,
	[content] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
	[type] [nvarchar](50) NULL,
	[created] [datetime] NULL,
	[location] [int] NULL,
	[show] [bit] NULL,
	[viewnum] [int] NULL CONSTRAINT [DF_News_viewnum]  DEFAULT ((0)),
	[startdate] [datetime] NULL,
	[enddate] [datetime] NULL,
	[video] [nvarchar](255) NULL,
	[showhome] [bit] NULL,
	[author] [nvarchar](50) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Package]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[acreage] [int] NULL,
	[quantityexpected] [nvarchar](50) NULL,
	[fosv] [int] NULL,
	[weightsending] [nvarchar](50) NULL,
	[typeofv] [int] NULL,
	[quality] [int] NULL,
	[bgcolor] [nvarchar](10) NULL,
	[button] [nvarchar](50) NULL,
	[url] [nvarchar](50) NULL,
	[show] [bit] NULL,
	[icon] [nvarchar](100) NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_Package] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PackageOrder]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPK] [int] NULL,
	[type] [nvarchar](10) NULL,
	[idOrder] [int] NULL,
	[maxOrder] [int] NULL,
 CONSTRAINT [PK_PackageOrder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Page]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[int] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[controller] [nvarchar](50) NULL,
	[namespace] [nvarchar](50) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[int] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Partner]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](100) NULL,
	[name] [nvarchar](100) NULL,
	[url] [nvarchar](100) NULL,
	[show] [bit] NULL,
	[location] [int] NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Popups]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Popups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[content] [nvarchar](max) NULL,
	[enddate] [datetime] NULL,
	[startdate] [datetime] NULL,
	[active] [bit] NULL,
	[type] [int] NULL,
	[url] [nvarchar](100) NULL,
 CONSTRAINT [PK_Popups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductionAreas]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionAreas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[acreage] [int] NULL,
	[active] [bit] NULL,
	[code] [nvarchar](5) NULL,
 CONSTRAINT [PK_ProductionAreas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductionOrder]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idP] [int] NULL,
	[idV] [int] NULL,
	[growthtime] [int] NULL,
	[survivalrate] [int] NULL,
 CONSTRAINT [PK_ProductionOrder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestDetail]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idV] [int] NULL,
	[idCR] [int] NULL,
 CONSTRAINT [PK_RequestDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RNews]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RNews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idN] [int] NULL,
	[idR] [int] NULL,
 CONSTRAINT [PK_RNews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idG] [int] NOT NULL,
	[idR] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Route]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[namespace] [nvarchar](50) NULL,
	[controller] [nvarchar](50) NULL,
	[action] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Settings]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[id] [nvarchar](100) NOT NULL,
	[value] [nvarchar](max) NULL,
	[type] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[show] [bit] NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slide]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section] [nvarchar](50) NULL,
	[image] [nvarchar](max) NULL,
	[caption] [nvarchar](max) NULL,
	[location] [int] NULL,
	[show] [bit] NULL,
 CONSTRAINT [PK_Slide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TagsNews]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsNews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idT] [int] NULL,
	[idN] [int] NULL,
 CONSTRAINT [PK_TagsNews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vegetables]    Script Date: 3/16/2019 9:48:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vegetables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[show] [bit] NULL,
	[growthtime] [int] NULL,
	[survivalrate] [int] NULL,
 CONSTRAINT [PK_Vegetables] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [fullname], [active], [idG], [show]) VALUES (1, N'administrator', N'zaq1234$', N'nguyenkien159@gmail.com', N'0971150988', N'Nguyễn Văn Kiên', 1, 2, 0)
INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [fullname], [active], [idG], [show]) VALUES (2, N'dangtin1', N'123456', N'dangtin1@gmail.com', N'0971150988', N'Tài khoản đăng bài', 1, 4, 1)
INSERT [dbo].[Account] ([id], [username], [password], [email], [phone], [fullname], [active], [idG], [show]) VALUES (3, N'admin', N'admin@123', N'admin@agrilink.com', N'123456789', N'Admin', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([id], [image], [name], [boderstype], [bodercolor], [location], [show], [created], [description], [viewed]) VALUES (1, N'/Images/794b3785fe114d90b70aa2cce8338cf2/images3.jpg', N'Cuối tuần là thời khắc cả nhà cùng "biến hình" thành nông dân', N'round', N'#8d70a0', 1, 1, CAST(N'2019-03-01 13:48:12.453' AS DateTime), NULL, 0)
INSERT [dbo].[Activities] ([id], [image], [name], [boderstype], [bodercolor], [location], [show], [created], [description], [viewed]) VALUES (2, N'/Images/dd8bbec6755549fcb28e9dd4e130a585/images2.jpg', N'Các bác nông dân nhí quyết tâm phủ xanh vành đai sinh học của vườn bằng cỏ Vertiver', N'round', N'#ff8040', 2, 1, CAST(N'2019-03-01 13:48:05.467' AS DateTime), NULL, 0)
INSERT [dbo].[Activities] ([id], [image], [name], [boderstype], [bodercolor], [location], [show], [created], [description], [viewed]) VALUES (3, N'/Images/7769cc8f031a4225b886add8b7bc5924/47429996_1494657694000814_7385252039917305856_n.jpg', N'Bác sĩ nhí Maki đến vườn Mộc Châu "kiểm tra sức khỏe" cây rau', N'round', N'#00b700', 3, 1, CAST(N'2019-03-01 13:47:50.047' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Activities] OFF
SET IDENTITY_INSERT [dbo].[AImage] ON 

INSERT [dbo].[AImage] ([id], [idA], [image], [location], [show]) VALUES (9, 1, N'/Upload/images/tin-tuc/su-kien/su-kien-anh-bv-1.jpg', 0, 1)
INSERT [dbo].[AImage] ([id], [idA], [image], [location], [show]) VALUES (10, 1, N'/Upload/images/tin-tuc/su-kien/su-kien-anh-bv-2.jpg', 0, 1)
INSERT [dbo].[AImage] ([id], [idA], [image], [location], [show]) VALUES (12, 4, N'/Upload/images/tin-tuc/su-kien/su-kien-anh-bv-2.jpg', 0, 1)
SET IDENTITY_INSERT [dbo].[AImage] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [name], [address], [avatar], [comment], [image], [show], [location], [created], [rate]) VALUES (2, N'Chị Hoài Thu', N'Minh Khai, Hà Nội', N'/Images/bf7d6f234a9f40fdbc41698ba729d2fc/1.jpg', N'Ở nơi nào đó ngoài kia, cu con vẫn đang miệt mài lấm lem cùng đất, cùng cây. Còn ở nơi này, mẹ nó cũng đang nhẹ nhàng tận hưởng một chủ nhật bình yên.', N'/Images/f1c0a10c6b87429a8d3fb38d23e1170a/1.jpg', 1, 2, CAST(N'2019-03-15 09:20:30.367' AS DateTime), 5)
INSERT [dbo].[Comments] ([id], [name], [address], [avatar], [comment], [image], [show], [location], [created], [rate]) VALUES (3, N'Chị Lan', N'Tây Mỗ, Từ Liêm, Hà Nội', N'/Images/c54bfc5459f346f5a0d0af56dff8b2f2/5.jpg', N'"Đã nhận được quà của vườn rồi, tặng vườn tấm hình đẹp ná, yêu không này!"
Yêu cũng phải thôi ạ, vì không chỉ có rau, vườn còn có cả những món quà bất ngờ tặng khách', N'/Images/037f013ad7684383acb1a54b5e32d8a6/5.jpg', 1, NULL, CAST(N'2019-03-15 09:29:14.263' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [account], [email], [password], [fullname], [phone], [address], [nofm], [idPK], [active], [created], [updated], [del], [registerfrom], [note], [enable]) VALUES (1, N'kiennv', N'nguyenkien159@gmail.com', N'zaq1234$', N'Nguyễn Văn Kiên', N'0971150988', N'Số 21A, Ngách 95/15, Nam Dư, Lĩnh Nam, Hoàng Mai, Hà Nội', 5, 5, 1, NULL, CAST(N'2019-02-13 11:08:40.227' AS DateTime), 0, NULL, NULL, 1)
INSERT [dbo].[Customer] ([id], [account], [email], [password], [fullname], [phone], [address], [nofm], [idPK], [active], [created], [updated], [del], [registerfrom], [note], [enable]) VALUES (5, N'canquy', N'dec7@quantriwebhanoi.com', N'1234567890', N'Cấn Hoàng Quý', N'0378620667', N'86A, Nguyễn Văn Trỗi', NULL, NULL, 0, CAST(N'2019-02-27 09:05:49.527' AS DateTime), NULL, 0, N'Client', NULL, 1)
INSERT [dbo].[Customer] ([id], [account], [email], [password], [fullname], [phone], [address], [nofm], [idPK], [active], [created], [updated], [del], [registerfrom], [note], [enable]) VALUES (6, N'hanh', N'thiepcuoihalong123@gmail.com', N'1234$', N'nguyễn xuân hạnh', N'0987878741', N'yên duyên- yên sở- hoàng mai- hà nội', NULL, NULL, 0, CAST(N'2019-03-06 10:52:50.313' AS DateTime), NULL, 0, N'Client', NULL, 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[CustomerRequest] ON 

INSERT [dbo].[CustomerRequest] ([id], [idC], [idPK], [note], [created], [active]) VALUES (1, 1, 5, N'f', CAST(N'2019-02-24 23:51:40.937' AS DateTime), 0)
INSERT [dbo].[CustomerRequest] ([id], [idC], [idPK], [note], [created], [active]) VALUES (2, 7, 1, N'f', CAST(N'2019-03-13 10:56:45.873' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CustomerRequest] OFF
SET IDENTITY_INSERT [dbo].[Garden] ON 

INSERT [dbo].[Garden] ([id], [idP], [code], [acreage], [active], [num], [prefix], [note], [status]) VALUES (2, 1, N'VQ-A1', 60, 1, 1, N'A', NULL, NULL)
INSERT [dbo].[Garden] ([id], [idP], [code], [acreage], [active], [num], [prefix], [note], [status]) VALUES (3, 1, N'VQ-A2', 60, 1, 2, N'A', NULL, NULL)
INSERT [dbo].[Garden] ([id], [idP], [code], [acreage], [active], [num], [prefix], [note], [status]) VALUES (4, 2, N'MC-B1', 60, 1, 1, N'B', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Garden] OFF
SET IDENTITY_INSERT [dbo].[GHistory] ON 

INSERT [dbo].[GHistory] ([id], [status], [idG], [image], [startdate], [enddate]) VALUES (1, 1, 2, N'/Upload/images/tin-tuc/chuyen-vuon/11.jpg', CAST(N'2019-01-10 00:00:00.000' AS DateTime), CAST(N'2019-01-28 00:00:00.000' AS DateTime))
INSERT [dbo].[GHistory] ([id], [status], [idG], [image], [startdate], [enddate]) VALUES (2, 0, 3, N'/Upload/images/tin-tuc/chuyen-vuon/11.jpg', CAST(N'2019-01-01 00:00:00.000' AS DateTime), CAST(N'2019-01-30 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GHistory] OFF
INSERT [dbo].[GImage] ([id], [idS], [image]) VALUES (0, 1, N'/Upload/images/tin-tuc/chuyen-vuon/3.jpg')
SET IDENTITY_INSERT [dbo].[GRole] ON 

INSERT [dbo].[GRole] ([id], [name], [description]) VALUES (1, N'Chăm sóc khách hàng', N'theo dõi các tương tác của khách hàng với website')
INSERT [dbo].[GRole] ([id], [name], [description]) VALUES (2, N'Quản trị hệ thống', N'là quyền cao nhất, thiết lập các cấu hình cần thiết cho hệ thống vận hành')
INSERT [dbo].[GRole] ([id], [name], [description]) VALUES (3, N'Quản lý website', N'giám sát các hoạt động website')
SET IDENTITY_INSERT [dbo].[GRole] OFF
SET IDENTITY_INSERT [dbo].[GSchedule] ON 

INSERT [dbo].[GSchedule] ([id], [idH], [datenow], [stylecolor], [description], [show]) VALUES (1, 2, CAST(N'2019-01-10 00:00:00.000' AS DateTime), N'#8fb14b', N'<p><em>Bắt s&acirc;u nè</em></p>
', 1)
SET IDENTITY_INSERT [dbo].[GSchedule] OFF
SET IDENTITY_INSERT [dbo].[GVegetables] ON 

INSERT [dbo].[GVegetables] ([id], [name], [type], [show]) VALUES (1, N'Hoa/cây ăn quả', N'Quản lý phân loại cho gói đăng ký', 0)
INSERT [dbo].[GVegetables] ([id], [name], [type], [show]) VALUES (2, N'Củ/quả', N'Quản lý phân loại cho gói đăng ký', 1)
INSERT [dbo].[GVegetables] ([id], [name], [type], [show]) VALUES (3, N'Rau dàn', N'Quản lý phân loại cho gói đăng ký', 1)
SET IDENTITY_INSERT [dbo].[GVegetables] OFF
SET IDENTITY_INSERT [dbo].[GVOrder] ON 

INSERT [dbo].[GVOrder] ([id], [idH], [idV]) VALUES (1, 2, 4)
INSERT [dbo].[GVOrder] ([id], [idH], [idV]) VALUES (2, 2, 5)
INSERT [dbo].[GVOrder] ([id], [idH], [idV]) VALUES (3, 2, 6)
SET IDENTITY_INSERT [dbo].[GVOrder] OFF
SET IDENTITY_INSERT [dbo].[IVtable] ON 

INSERT [dbo].[IVtable] ([id], [idV], [idG]) VALUES (38, 1, 7)
INSERT [dbo].[IVtable] ([id], [idV], [idG]) VALUES (39, 3, 7)
INSERT [dbo].[IVtable] ([id], [idV], [idG]) VALUES (49, 1, 4)
SET IDENTITY_INSERT [dbo].[IVtable] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [name], [url], [show], [location]) VALUES (1, N'Vườn Agrilink', NULL, NULL, NULL)
INSERT [dbo].[Menu] ([id], [name], [url], [show], [location]) VALUES (2, N'Có gì hay?', NULL, NULL, NULL)
INSERT [dbo].[Menu] ([id], [name], [url], [show], [location]) VALUES (3, N'Nhật ký mảnh vườn', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Package] ON 

INSERT [dbo].[Package] ([id], [name], [type], [acreage], [quantityexpected], [fosv], [weightsending], [typeofv], [quality], [bgcolor], [button], [url], [show], [icon], [price]) VALUES (1, N'1.090.000/tháng', N'chia sẻ', NULL, N'16- 18 kg/tháng', 2, N'1,5 - 2 kg/lần', 4, 1, N'#8fb955', N'ĐĂNG KÍ NGAY', NULL, 1, N'\Upload\images\icon\manh-vuon-chia-se-dich-vu-icon-mam.png', NULL)
INSERT [dbo].[Package] ([id], [name], [type], [acreage], [quantityexpected], [fosv], [weightsending], [typeofv], [quality], [bgcolor], [button], [url], [show], [icon], [price]) VALUES (2, N'1.390.000/tháng', N'chia sẻ', NULL, N'20 - 23 kg/tháng', 2, N'2 - 2,5 kg/lần', 4, 1, N'#a386b7', N'ĐĂNG KÍ NGAY', NULL, 1, N'\Upload\images\icon\manh-vuon-chia-se-dich-vu-icon-choi.png', NULL)
INSERT [dbo].[Package] ([id], [name], [type], [acreage], [quantityexpected], [fosv], [weightsending], [typeofv], [quality], [bgcolor], [button], [url], [show], [icon], [price]) VALUES (3, N'1.590.000/tháng', N'chia sẻ', NULL, N'25 - 28 kg/tháng', 3, N'2 - 2,5 kg/lần', 4, 1, N'#56b042', N'ĐĂNG KÍ NGAY', NULL, 1, N'\Upload\images\icon\manh-vuon-chia-se-dich-vu-icon-la.png', NULL)
SET IDENTITY_INSERT [dbo].[Package] OFF
SET IDENTITY_INSERT [dbo].[PackageOrder] ON 

INSERT [dbo].[PackageOrder] ([id], [idPK], [type], [idOrder], [maxOrder]) VALUES (1, 5, N'G', 4, 4)
INSERT [dbo].[PackageOrder] ([id], [idPK], [type], [idOrder], [maxOrder]) VALUES (55, 5, N'G', 1, 1)
INSERT [dbo].[PackageOrder] ([id], [idPK], [type], [idOrder], [maxOrder]) VALUES (56, 5, N'G', 2, 1)
SET IDENTITY_INSERT [dbo].[PackageOrder] OFF
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([int], [name], [description], [controller], [namespace]) VALUES (26, N'Quản lý tài khoản', NULL, N'Account', N'Agrilink2.Areas.Admin.Controllers')
INSERT [dbo].[Page] ([int], [name], [description], [controller], [namespace]) VALUES (27, N'Quản lý ảnh kể chuyện', NULL, N'Activities', N'Agrilink2.Areas.Admin.Controllers')
INSERT [dbo].[Page] ([int], [name], [description], [controller], [namespace]) VALUES (29, N'Quản lý chuyện khách kể', NULL, N'Comments', N'Agrilink2.Areas.Admin.Controllers')
SET IDENTITY_INSERT [dbo].[Page] OFF
SET IDENTITY_INSERT [dbo].[Partner] ON 

INSERT [dbo].[Partner] ([id], [image], [name], [url], [show], [location]) VALUES (1, N'/Upload/images/gioi-thieu/doi-tac/doi-tac-1.jpg', N'Viettel', NULL, 1, 1)
INSERT [dbo].[Partner] ([id], [image], [name], [url], [show], [location]) VALUES (2, N'/Upload/images/gioi-thieu/doi-tac/doi-tac-2.jpg', NULL, NULL, 1, 2)
INSERT [dbo].[Partner] ([id], [image], [name], [url], [show], [location]) VALUES (3, N'/Upload/images/gioi-thieu/doi-tac/doi-tac-3.jpg', NULL, NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[Partner] OFF
SET IDENTITY_INSERT [dbo].[Popups] ON 

SET IDENTITY_INSERT [dbo].[Popups] OFF
SET IDENTITY_INSERT [dbo].[ProductionAreas] ON 

INSERT [dbo].[ProductionAreas] ([id], [name], [acreage], [active], [code]) VALUES (1, N'Vĩnh Quỳnh', 2000, 1, N'VQ')
INSERT [dbo].[ProductionAreas] ([id], [name], [acreage], [active], [code]) VALUES (2, N'Mộc Châu', 2000, 1, N'MC')
INSERT [dbo].[ProductionAreas] ([id], [name], [acreage], [active], [code]) VALUES (3, N'Agrilink', 2000, 1, N'AG')
SET IDENTITY_INSERT [dbo].[ProductionAreas] OFF
SET IDENTITY_INSERT [dbo].[ProductionOrder] ON 

INSERT [dbo].[ProductionOrder] ([id], [idP], [idV], [growthtime], [survivalrate]) VALUES (6, 2, 3, 44, 100)
INSERT [dbo].[ProductionOrder] ([id], [idP], [idV], [growthtime], [survivalrate]) VALUES (7, 1, 3, 35, 90)
INSERT [dbo].[ProductionOrder] ([id], [idP], [idV], [growthtime], [survivalrate]) VALUES (8, 1, 6, 35, 100)
SET IDENTITY_INSERT [dbo].[ProductionOrder] OFF
SET IDENTITY_INSERT [dbo].[RequestDetail] ON 

INSERT [dbo].[RequestDetail] ([id], [idV], [idCR]) VALUES (1, 1, 1)
INSERT [dbo].[RequestDetail] ([id], [idV], [idCR]) VALUES (2, 5, 1)
INSERT [dbo].[RequestDetail] ([id], [idV], [idCR]) VALUES (3, 6, 1)
SET IDENTITY_INSERT [dbo].[RequestDetail] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [idG], [idR]) VALUES (137, 4, 87)
INSERT [dbo].[Role] ([id], [idG], [idR]) VALUES (138, 4, 114)
INSERT [dbo].[Role] ([id], [idG], [idR]) VALUES (139, 4, 115)
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([id], [namespace], [controller], [action], [name], [description]) VALUES (75, N'Agrilink2.Areas.Admin.Controllers', N'Account', N'Index', N'Xem', N'xem danh sách tài khoản')
INSERT [dbo].[Route] ([id], [namespace], [controller], [action], [name], [description]) VALUES (76, N'Agrilink2.Areas.Admin.Controllers', N'Account', N'AddAccount', N'Thêm tài khoản', NULL)
INSERT [dbo].[Route] ([id], [namespace], [controller], [action], [name], [description]) VALUES (77, N'Agrilink2.Areas.Admin.Controllers', N'Account', N'UpdateAccount', N'Cập nhật tài khoản', NULL)
SET IDENTITY_INSERT [dbo].[Route] OFF
INSERT [dbo].[Settings] ([id], [value], [type], [description], [show]) VALUES (N'Client.Company', N'CÔNG TY NÔNG NGHIỆP KẾT NỐI THÔNG MINH', N'text', NULL, NULL)
INSERT [dbo].[Settings] ([id], [value], [type], [description], [show]) VALUES (N'Client.DownloadApp', NULL, N'html', NULL, NULL)
INSERT [dbo].[Settings] ([id], [value], [type], [description], [show]) VALUES (N'Client.Email1', NULL, N'text', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([id], [section], [image], [caption], [location], [show]) VALUES (7, N'Trang chủ', N'/Images/392a5a70c736488cb3a29b7217eb8244/2.png', N'<h3><strong>Dễ d&agrave;ng kiểm so&aacute;t chất lượng<br />
Rau với nhật tr&igrave;nh mảnh vườn</strong></h3>

<ul>
	<li>Cung cấp th&ocirc;ng tin về thời gian gieo trồng, thu hoạch, sản lượng</li>
	<li>Cập nhật t&igrave;nh h&igrave;nh s&acirc;u bệnh, thi&ecirc;n tai, địch họa... của vườn rau</li>
	<li>Lắp camera gi&aacute;m s&aacute;t mảnh vườn khi kh&aacute;ch h&agrave;ng y&ecirc;u cầu</li>
</ul>
', 2, 1)
INSERT [dbo].[Slide] ([id], [section], [image], [caption], [location], [show]) VALUES (8, N'Trang chủ', N'/Images/df4923210cb64ed2b21f003ccfd5a96b/3.png', N'<h3><strong>Kh&ocirc;ng gian xanh cho cả<br />
Gia đ&igrave;nh vui chơi miễn ph&iacute;</strong></h3>

<ul>
	<li>Thu hoạch rau củ, chế biến ngay tại vườn</li>
	<li>C&oacute; sẵn đồ d&ugrave;ng bếp cho c&aacute;c bữa tiệc nhỏ</li>
	<li>Cho trẻ học c&aacute;ch trồng rau, l&agrave;m đất, c&acirc;u c&aacute; ...</li>
</ul>
', 3, 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([id], [name]) VALUES (1, N'nhật ký')
INSERT [dbo].[Tags] ([id], [name]) VALUES (2, N'mảnh vườn')
INSERT [dbo].[Tags] ([id], [name]) VALUES (3, N'chia sẻ')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[TagsNews] ON 

INSERT [dbo].[TagsNews] ([id], [idT], [idN]) VALUES (13, 8, 34)
INSERT [dbo].[TagsNews] ([id], [idT], [idN]) VALUES (23, 8, 32)
INSERT [dbo].[TagsNews] ([id], [idT], [idN]) VALUES (24, 8, 29)
SET IDENTITY_INSERT [dbo].[TagsNews] OFF
SET IDENTITY_INSERT [dbo].[Vegetables] ON 

INSERT [dbo].[Vegetables] ([id], [image], [name], [description], [show], [growthtime], [survivalrate]) VALUES (1, N'/Images/b85351cd512e46e5b0f2fddd1a5552a1/cai-bap.jpg', N'Bắp cải', NULL, 1, 40, 100)
INSERT [dbo].[Vegetables] ([id], [image], [name], [description], [show], [growthtime], [survivalrate]) VALUES (2, N'/Images/abaedddb3adb40f8adade1fe0870e34d/rau-muong.jpg', N'Rau muống', NULL, 1, 30, 100)
INSERT [dbo].[Vegetables] ([id], [image], [name], [description], [show], [growthtime], [survivalrate]) VALUES (3, N'/Images/63ee237647324750a0cdefa73b0ea75a/ca-chua.jpg', N'Cà chua', NULL, 1, 45, 100)
SET IDENTITY_INSERT [dbo].[Vegetables] OFF
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_GRole] FOREIGN KEY([idG])
REFERENCES [dbo].[GRole] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_GRole]
GO
ALTER TABLE [dbo].[AImage]  WITH CHECK ADD  CONSTRAINT [FK_AImage_Activities] FOREIGN KEY([idA])
REFERENCES [dbo].[Activities] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AImage] CHECK CONSTRAINT [FK_AImage_Activities]
GO
ALTER TABLE [dbo].[CustomerRequest]  WITH CHECK ADD  CONSTRAINT [FK_CustomerRequest_Customer] FOREIGN KEY([idC])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[CustomerRequest] CHECK CONSTRAINT [FK_CustomerRequest_Customer]
GO
ALTER TABLE [dbo].[Garden]  WITH CHECK ADD  CONSTRAINT [FK_Garden_ProductionAreas] FOREIGN KEY([idP])
REFERENCES [dbo].[ProductionAreas] ([id])
GO
ALTER TABLE [dbo].[Garden] CHECK CONSTRAINT [FK_Garden_ProductionAreas]
GO
ALTER TABLE [dbo].[GHistory]  WITH CHECK ADD  CONSTRAINT [FK_GHistory_Garden] FOREIGN KEY([idG])
REFERENCES [dbo].[Garden] ([id])
GO
ALTER TABLE [dbo].[GHistory] CHECK CONSTRAINT [FK_GHistory_Garden]
GO
ALTER TABLE [dbo].[GImage]  WITH CHECK ADD  CONSTRAINT [FK_GImage_GSchedule] FOREIGN KEY([idS])
REFERENCES [dbo].[GSchedule] ([id])
GO
ALTER TABLE [dbo].[GImage] CHECK CONSTRAINT [FK_GImage_GSchedule]
GO
ALTER TABLE [dbo].[GSchedule]  WITH CHECK ADD  CONSTRAINT [FK_GSchedule_GHistory] FOREIGN KEY([idH])
REFERENCES [dbo].[GHistory] ([id])
GO
ALTER TABLE [dbo].[GSchedule] CHECK CONSTRAINT [FK_GSchedule_GHistory]
GO
ALTER TABLE [dbo].[GVOrder]  WITH CHECK ADD  CONSTRAINT [FK_GVOrder_GHistory] FOREIGN KEY([idH])
REFERENCES [dbo].[GHistory] ([id])
GO
ALTER TABLE [dbo].[GVOrder] CHECK CONSTRAINT [FK_GVOrder_GHistory]
GO
ALTER TABLE [dbo].[IVtable]  WITH CHECK ADD  CONSTRAINT [FK_IVtable_GVegetables] FOREIGN KEY([idG])
REFERENCES [dbo].[GVegetables] ([id])
GO
ALTER TABLE [dbo].[IVtable] CHECK CONSTRAINT [FK_IVtable_GVegetables]
GO
ALTER TABLE [dbo].[IVtable]  WITH CHECK ADD  CONSTRAINT [FK_IVtable_Vegetables] FOREIGN KEY([idV])
REFERENCES [dbo].[Vegetables] ([id])
GO
ALTER TABLE [dbo].[IVtable] CHECK CONSTRAINT [FK_IVtable_Vegetables]
GO
ALTER TABLE [dbo].[PackageOrder]  WITH CHECK ADD  CONSTRAINT [FK_PackageOrder_Package] FOREIGN KEY([idPK])
REFERENCES [dbo].[Package] ([id])
GO
ALTER TABLE [dbo].[PackageOrder] CHECK CONSTRAINT [FK_PackageOrder_Package]
GO
ALTER TABLE [dbo].[ProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductionOrder_ProductionAreas] FOREIGN KEY([idP])
REFERENCES [dbo].[ProductionAreas] ([id])
GO
ALTER TABLE [dbo].[ProductionOrder] CHECK CONSTRAINT [FK_ProductionOrder_ProductionAreas]
GO
ALTER TABLE [dbo].[ProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductionOrder_Vegetables] FOREIGN KEY([idV])
REFERENCES [dbo].[Vegetables] ([id])
GO
ALTER TABLE [dbo].[ProductionOrder] CHECK CONSTRAINT [FK_ProductionOrder_Vegetables]
GO
ALTER TABLE [dbo].[RequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetail_CustomerRequest] FOREIGN KEY([idCR])
REFERENCES [dbo].[CustomerRequest] ([id])
GO
ALTER TABLE [dbo].[RequestDetail] CHECK CONSTRAINT [FK_RequestDetail_CustomerRequest]
GO
ALTER TABLE [dbo].[RNews]  WITH CHECK ADD  CONSTRAINT [FK_RNews_News] FOREIGN KEY([idN])
REFERENCES [dbo].[News] ([id])
GO
ALTER TABLE [dbo].[RNews] CHECK CONSTRAINT [FK_RNews_News]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_GRole] FOREIGN KEY([idG])
REFERENCES [dbo].[GRole] ([id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_GRole]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_Route] FOREIGN KEY([idR])
REFERENCES [dbo].[Route] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_Route]
GO
ALTER TABLE [dbo].[TagsNews]  WITH CHECK ADD  CONSTRAINT [FK_TagsNews_News] FOREIGN KEY([idN])
REFERENCES [dbo].[News] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagsNews] CHECK CONSTRAINT [FK_TagsNews_News]
GO
ALTER TABLE [dbo].[TagsNews]  WITH CHECK ADD  CONSTRAINT [FK_TagsNews_Tags] FOREIGN KEY([idT])
REFERENCES [dbo].[Tags] ([id])
ON UPDATE SET NULL
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagsNews] CHECK CONSTRAINT [FK_TagsNews_Tags]
GO
USE [master]
GO
