USE [master]
GO
/****** Object:  Database [QL_Duoc1]    Script Date: 3/12/2019 9:29:13 AM ******/
CREATE DATABASE [QL_Duoc1] ON  PRIMARY 
( NAME = N'QL_Duoc1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QL_Duoc1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_Duoc1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QL_Duoc1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Duoc1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Duoc1]
GO
/****** Object:  User [hoainam]    Script Date: 3/12/2019 9:29:13 AM ******/
CREATE USER [hoainam] FOR LOGIN [hoainam] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hoainam]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonMua]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonMua](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaDT] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_ChiTietPhieuDKMua] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DauThuoc]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauThuoc](
	[MaDT] [nvarchar](50) NOT NULL,
	[TenDauThuoc] [nvarchar](150) NULL,
	[ChiTiet] [nvarchar](500) NULL,
	[Gia] [int] NULL,
	[GiaMoi] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[MaNhomThuoc] [nvarchar](50) NULL,
	[MaNSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_DauThuoc] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonMua]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonMua](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[NgayMua] [datetime] NULL,
	[MaTK] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
	[MaHoaDonVanChuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDonMua] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonVanChuyen]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonVanChuyen](
	[MaHoaDonVanChuyen] [nvarchar](50) NOT NULL,
	[MaNguoiVanChuyen] [nvarchar](50) NULL,
	[NgayGioVanChuyen] [datetime] NULL,
	[SoGioDuTinh] [int] NULL,
 CONSTRAINT [PK_HoaDonVanChuyen] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonVanChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [nvarchar](50) NOT NULL,
	[TenNSX] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomDauThuoc]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomDauThuoc](
	[MaNhomThuoc] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](150) NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhomDauThuoc] PRIMARY KEY CLUSTERED 
(
	[MaNhomThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomQuyen]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomQuyen](
	[MaNhomQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomQuyen] [nvarchar](150) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_NhomQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomQuyenRoute]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomQuyenRoute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNhomQuyen] [int] NULL,
	[IDRoute] [int] NULL,
 CONSTRAINT [PK_NhomQuyenRoute] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Page]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[controller] [nvarchar](250) NULL,
	[namespace] [nvarchar](250) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuanHuyen]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanHuyen](
	[ID] [int] NOT NULL,
	[TenQuanHuyen] [nvarchar](150) NULL,
	[IDTinhThanh] [int] NULL,
 CONSTRAINT [PK_QuanHuyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Route]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Namespace] [nvarchar](250) NULL,
	[Controller] [nvarchar](250) NULL,
	[Action] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [nvarchar](50) NOT NULL,
	[TenTaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[MaQuyen] [int] NULL,
	[MaTD] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NULL,
	[MaNguoiVanChuyen] [nvarchar](50) NULL,
	[MaNSX] [nvarchar](50) NULL,
	[MaNhomQuyen] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhThanhPho]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanhPho](
	[ID] [int] NOT NULL,
	[TenTinh] [nvarchar](150) NULL,
 CONSTRAINT [PK_TinhThanhPho] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrinhDuoc]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDuoc](
	[MaTD] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[KhuVuc] [nvarchar](250) NULL,
	[TrangThai] [int] NULL,
	[DanhGia] [float] NULL,
	[LuongTieuThu] [int] NULL,
 CONSTRAINT [PK_TrinhDuoc] PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrinhDuocKhachHang]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDuocKhachHang](
	[MaTD] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NULL,
 CONSTRAINT [PK_TrinhDuocKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC,
	[MaKH] ASC,
	[NgayBatDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanChuyen]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanChuyen](
	[MaNguoiVanChuyen] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_VanChuyen] PRIMARY KEY CLUSTERED 
(
	[MaNguoiVanChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietHoaDonMua] ([MaHD], [MaDT], [SoLuong], [DonGia]) VALUES (N'HD000001', N'DT000001', 1, 1000)
INSERT [dbo].[ChiTietHoaDonMua] ([MaHD], [MaDT], [SoLuong], [DonGia]) VALUES (N'HD000002', N'DT000001', 2, 2000)
INSERT [dbo].[ChiTietHoaDonMua] ([MaHD], [MaDT], [SoLuong], [DonGia]) VALUES (N'HD000003', N'DT000001', 3, 30000)
INSERT [dbo].[DauThuoc] ([MaDT], [TenDauThuoc], [ChiTiet], [Gia], [GiaMoi], [Image], [Status], [MaNhomThuoc], [MaNSX]) VALUES (N'DT000001', N'Ampicillin', N'kháng sinh', 10000, 10000, N'Ampicillin', N'', N'NT000001', N'SX000001')
INSERT [dbo].[DauThuoc] ([MaDT], [TenDauThuoc], [ChiTiet], [Gia], [GiaMoi], [Image], [Status], [MaNhomThuoc], [MaNSX]) VALUES (N'DT000002', N'Amoxicillin_500mg_785', N'kháng sinh', 10000, 10000, N'Amoxicillin_500mg_785', N'', N'NT000001', N'SX000001')
INSERT [dbo].[DauThuoc] ([MaDT], [TenDauThuoc], [ChiTiet], [Gia], [GiaMoi], [Image], [Status], [MaNhomThuoc], [MaNSX]) VALUES (N'DT000003', N'khang sinh 151117', N'kháng sinh', 10000, 10000, N'khang sinh 151117', N'', N'NT000001', N'SX000001')
INSERT [dbo].[HoaDonMua] ([MaHD], [MaKH], [NgayMua], [MaTK], [TrangThai], [MaHoaDonVanChuyen]) VALUES (N'HD000001', N'KH000001', CAST(N'2019-03-03 00:00:00.000' AS DateTime), N'TK000001', 2, NULL)
INSERT [dbo].[HoaDonMua] ([MaHD], [MaKH], [NgayMua], [MaTK], [TrangThai], [MaHoaDonVanChuyen]) VALUES (N'HD000002', N'TK000001', CAST(N'2019-03-07 07:00:00.000' AS DateTime), N'TK000001', 2, NULL)
INSERT [dbo].[HoaDonMua] ([MaHD], [MaKH], [NgayMua], [MaTK], [TrangThai], [MaHoaDonVanChuyen]) VALUES (N'HD000003', N'TK000001', CAST(N'2019-03-09 07:00:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[HoaDonVanChuyen] ([MaHoaDonVanChuyen], [MaNguoiVanChuyen], [NgayGioVanChuyen], [SoGioDuTinh]) VALUES (N'VC000001', N'NC000001', CAST(N'2019-03-03 00:00:00.000' AS DateTime), 3)
INSERT [dbo].[HoaDonVanChuyen] ([MaHoaDonVanChuyen], [MaNguoiVanChuyen], [NgayGioVanChuyen], [SoGioDuTinh]) VALUES (N'VC000002', N'NC000001', CAST(N'2019-03-03 00:00:00.000' AS DateTime), 4)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [DiaChi], [SDT], [Email]) VALUES (N'KH000001', N'Lê Văn A', N'Yên Duyên-Yên Sở-Hoàng Mai-Hà Nội', N'123456', N'A@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [DiaChi], [SDT], [Email]) VALUES (N'KH000002', N'Lê Văn B', N'Yên Duyên-Yên Sở-Hoàng Mai-Hà Nội', N'123457', N'B@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [DiaChi], [SDT], [Email]) VALUES (N'KH000003', N'Lê Văn C', N'Yên Duyên-Yên Sở-Hoàng Mai-Hà Nội', N'123458', N'C@gmail.com')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [DiaChi], [SDT], [Email]) VALUES (N'SX000001', N'CTCP TRAPHACO', N'Yên Duyên-Yên Sở-Hoàng Mai-Hà Nội', N'123456', N'A@gmail.com')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [DiaChi], [SDT], [Email]) VALUES (N'SX000002', N'CTCP PYMEPHARCO', N'Yên Duyên-Yên Sở-Hoàng Mai-Hà Nội', N'123456', N'B@gmail.com')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [DiaChi], [SDT], [Email]) VALUES (N'SX000003', N'CTCP Dược Hà Tây', N'Yên Duyên-Yên Sở-Hoàng Mai-Hà Nội', N'123456', N'C@gmail.com')
INSERT [dbo].[NhomDauThuoc] ([MaNhomThuoc], [TenNhom], [Image], [Status]) VALUES (N'NT000001', N'Kháng sinh', NULL, N'Kháng sinh còn được gọi là Trụ sinh là những chất được chiết xuất từ các vi sinh vật, nấm, được tổng hợp hoặc bán tổng hợp, có khả năng tiêu diệt vi khuẩn hay kìm hãm sự phát triển của vi khuẩn một cách đặc hiệu.')
INSERT [dbo].[NhomDauThuoc] ([MaNhomThuoc], [TenNhom], [Image], [Status]) VALUES (N'NT000002', N'Đau bụng', NULL, N'Đau bụng là triệu chứng bệnh lý thường mắc phải. Tất cả các cơ quan trong ổ bụng bị bất thường đều có thể gây đau bụng')
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([id], [name], [description], [controller], [namespace]) VALUES (1, NULL, NULL, N'Account', N'Quanlyduoc.Areas.Admin.Controllers')
INSERT [dbo].[Page] ([id], [name], [description], [controller], [namespace]) VALUES (2, NULL, NULL, N'DauThuoc', N'Quanlyduoc.Areas.Admin.Controllers')
INSERT [dbo].[Page] ([id], [name], [description], [controller], [namespace]) VALUES (4, NULL, NULL, N'KhachHang', N'Quanlyduoc.Areas.Admin.Controllers')
SET IDENTITY_INSERT [dbo].[Page] OFF
INSERT [dbo].[QuanHuyen] ([ID], [TenQuanHuyen], [IDTinhThanh]) VALUES (1, N'Quận Ba Đình', 1)
INSERT [dbo].[QuanHuyen] ([ID], [TenQuanHuyen], [IDTinhThanh]) VALUES (2, N'Quận Hoàn Kiếm', 1)
INSERT [dbo].[QuanHuyen] ([ID], [TenQuanHuyen], [IDTinhThanh]) VALUES (3, N'Quận Tây Hồ', 1)
GO
SET IDENTITY_INSERT [dbo].[Route] ON 

INSERT [dbo].[Route] ([ID], [Namespace], [Controller], [Action], [Name], [Description]) VALUES (1, N'Quanlyduoc.Areas.Admin.Controllers', N'Account', N'Index', NULL, NULL)
INSERT [dbo].[Route] ([ID], [Namespace], [Controller], [Action], [Name], [Description]) VALUES (6, N'Quanlyduoc.Areas.Admin.Controllers', N'DauThuoc', N'Index', NULL, NULL)
INSERT [dbo].[Route] ([ID], [Namespace], [Controller], [Action], [Name], [Description]) VALUES (7, N'Quanlyduoc.Areas.Admin.Controllers', N'DauThuoc', N'layDanhSachDauThuocTheoNhom', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Route] OFF
INSERT [dbo].[TaiKhoan] ([MaTK], [TenTaiKhoan], [MatKhau], [HoTen], [MaQuyen], [MaTD], [MaKH], [MaNguoiVanChuyen], [MaNSX], [MaNhomQuyen]) VALUES (N'TK000001', N'admin', N'1', N'Nguyễn Hoài Nam', 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenTaiKhoan], [MatKhau], [HoTen], [MaQuyen], [MaTD], [MaKH], [MaNguoiVanChuyen], [MaNSX], [MaNhomQuyen]) VALUES (N'TK000002', N'trinhduoc', N'1', N'Hồ Văn Bảo', 2, N'TD000001', NULL, NULL, NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [TenTaiKhoan], [MatKhau], [HoTen], [MaQuyen], [MaTD], [MaKH], [MaNguoiVanChuyen], [MaNSX], [MaNhomQuyen]) VALUES (N'TK000003', N'khachhang', N'1', N'Phạm Bá Toại', 3, NULL, N'KH000001', NULL, NULL, NULL)
INSERT [dbo].[TinhThanhPho] ([ID], [TenTinh]) VALUES (1, N'Thành phố Hà Nội')
INSERT [dbo].[TinhThanhPho] ([ID], [TenTinh]) VALUES (2, N'Tỉnh Hà Giang')
INSERT [dbo].[TinhThanhPho] ([ID], [TenTinh]) VALUES (4, N'Tỉnh Cao Bằng')
INSERT [dbo].[TrinhDuoc] ([MaTD], [HoTen], [SDT], [NgaySinh], [DiaChi], [KhuVuc], [TrangThai], [DanhGia], [LuongTieuThu]) VALUES (N'TD000001', N'Nguyễn Văn An', N'123456', N'1995-03-01', N'Hoàng Mai-Hà Nội', N'Hoàng Mai - Hà Nội', 1, 1, 1)
INSERT [dbo].[TrinhDuoc] ([MaTD], [HoTen], [SDT], [NgaySinh], [DiaChi], [KhuVuc], [TrangThai], [DanhGia], [LuongTieuThu]) VALUES (N'TD000002', N'Nguyễn Văn B', N'123457', N'1995-03-01', N'Hoàng Mai-Hà Nội', N'Hoàng Mai - Hà Nội', 1, 1, 1)
INSERT [dbo].[TrinhDuoc] ([MaTD], [HoTen], [SDT], [NgaySinh], [DiaChi], [KhuVuc], [TrangThai], [DanhGia], [LuongTieuThu]) VALUES (N'TD000003', N'Nguyễn Văn C', N'123458', N'1995-03-01', N'Hoàng Mai-Hà Nội', N'Hoàng Mai - Hà Nội', 1, 1, 1)
INSERT [dbo].[VanChuyen] ([MaNguoiVanChuyen], [HoTen], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (N'NC000001', N'NCV001', N'20/10/2018', N'2', NULL, NULL)
INSERT [dbo].[VanChuyen] ([MaNguoiVanChuyen], [HoTen], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (N'NC000002', N'NCV002', N'20/10/2019', N'3', NULL, NULL)
INSERT [dbo].[VanChuyen] ([MaNguoiVanChuyen], [HoTen], [DiaChi], [SDT], [Email], [TrangThai]) VALUES (N'NC000003', N'NCV003', N'20/10/2020', N'2', NULL, NULL)
ALTER TABLE [dbo].[ChiTietHoaDonMua]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDKMua_DauThuoc] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DauThuoc] ([MaDT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDonMua] CHECK CONSTRAINT [FK_ChiTietPhieuDKMua_DauThuoc]
GO
ALTER TABLE [dbo].[ChiTietHoaDonMua]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDKMua_HoaDonMua] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDonMua] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDonMua] CHECK CONSTRAINT [FK_ChiTietPhieuDKMua_HoaDonMua]
GO
ALTER TABLE [dbo].[DauThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DauThuoc_NhaSanXuat1] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
GO
ALTER TABLE [dbo].[DauThuoc] CHECK CONSTRAINT [FK_DauThuoc_NhaSanXuat1]
GO
ALTER TABLE [dbo].[DauThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DauThuoc_NhomDauThuoc] FOREIGN KEY([MaNhomThuoc])
REFERENCES [dbo].[NhomDauThuoc] ([MaNhomThuoc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DauThuoc] CHECK CONSTRAINT [FK_DauThuoc_NhomDauThuoc]
GO
ALTER TABLE [dbo].[HoaDonMua]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonMua_HoaDonVanChuyen] FOREIGN KEY([MaHoaDonVanChuyen])
REFERENCES [dbo].[HoaDonVanChuyen] ([MaHoaDonVanChuyen])
GO
ALTER TABLE [dbo].[HoaDonMua] CHECK CONSTRAINT [FK_HoaDonMua_HoaDonVanChuyen]
GO
ALTER TABLE [dbo].[HoaDonMua]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonMua_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonMua] CHECK CONSTRAINT [FK_HoaDonMua_TaiKhoan]
GO
ALTER TABLE [dbo].[HoaDonVanChuyen]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonVanChuyen_VanChuyen] FOREIGN KEY([MaNguoiVanChuyen])
REFERENCES [dbo].[VanChuyen] ([MaNguoiVanChuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonVanChuyen] CHECK CONSTRAINT [FK_HoaDonVanChuyen_VanChuyen]
GO
ALTER TABLE [dbo].[NhomQuyenRoute]  WITH CHECK ADD  CONSTRAINT [FK_NhomQuyenRoute_NhomQuyen] FOREIGN KEY([MaNhomQuyen])
REFERENCES [dbo].[NhomQuyen] ([MaNhomQuyen])
GO
ALTER TABLE [dbo].[NhomQuyenRoute] CHECK CONSTRAINT [FK_NhomQuyenRoute_NhomQuyen]
GO
ALTER TABLE [dbo].[NhomQuyenRoute]  WITH CHECK ADD  CONSTRAINT [FK_NhomQuyenRoute_Route] FOREIGN KEY([IDRoute])
REFERENCES [dbo].[Route] ([ID])
GO
ALTER TABLE [dbo].[NhomQuyenRoute] CHECK CONSTRAINT [FK_NhomQuyenRoute_Route]
GO
ALTER TABLE [dbo].[QuanHuyen]  WITH CHECK ADD  CONSTRAINT [FK_QuanHuyen_TinhThanhPho] FOREIGN KEY([IDTinhThanh])
REFERENCES [dbo].[TinhThanhPho] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanHuyen] CHECK CONSTRAINT [FK_QuanHuyen_TinhThanhPho]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhaSanXuat] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhaSanXuat]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhomQuyen] FOREIGN KEY([MaNhomQuyen])
REFERENCES [dbo].[NhomQuyen] ([MaNhomQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhomQuyen]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_TrinhDuoc] FOREIGN KEY([MaTD])
REFERENCES [dbo].[TrinhDuoc] ([MaTD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_TrinhDuoc]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VanChuyen] FOREIGN KEY([MaNguoiVanChuyen])
REFERENCES [dbo].[VanChuyen] ([MaNguoiVanChuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VanChuyen]
GO
ALTER TABLE [dbo].[TrinhDuocKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_TrinhDuocKhachHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrinhDuocKhachHang] CHECK CONSTRAINT [FK_TrinhDuocKhachHang_KhachHang]
GO
ALTER TABLE [dbo].[TrinhDuocKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_TrinhDuocKhachHang_TrinhDuoc] FOREIGN KEY([MaTD])
REFERENCES [dbo].[TrinhDuoc] ([MaTD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrinhDuocKhachHang] CHECK CONSTRAINT [FK_TrinhDuocKhachHang_TrinhDuoc]
GO
/****** Object:  StoredProcedure [dbo].[Tk_Account_login]    Script Date: 3/12/2019 9:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Tk_Account_login]
(
	@tenTaiKhoan nvarchar(50),
	@matKhau nvarchar(50)
)
as
begin
	declare @count int
	declare @res bit
	select @count = count(*) from TaiKhoan where TaiKhoan = @tenTaiKhoan and MatKhau = @matKhau
	if @count > 0
		set @res = 1
	else
		set @res = 0
	select @res
end

GO
USE [master]
GO
